body {
  margin: 0;
  padding: 0;
  font-family: 'SRGSSR', sans-serif;
}

#map {
  width: 100%;
  height: 100%;
}

.leaflet-container {
  background: none;
}
.srf-tooltip .leaflet-popup-content-wrapper {
  background: #212121;
  border-radius: 2px;
}
.srf-tooltip .leaflet-popup-content {
  margin: 5px 10px;
}
.srf-tooltip h5 {
  color: #FFFFFF;
  margin: 5px 0;
  font-size: 16px;
  font-family: 'SRGSSR', sans-serif;
}
.srf-tooltip p {
  color: #FFFFFF;
  font-size: 16px;
  font-family: 'SRGSSR', sans-serif;
  margin: 3px 0;
  padding: 0;
}
.srf-tooltip .leaflet-popup-tip {
  background: #212121;
}