@font-face {
  font-family: 'SRGSSR';
  src: url('./srgssrtype_lt.eot');
  src: url('./srgssrtype_lt.eot?#iefix') format('embedded-opentype'), url('./srgssrtype_lt.woff') format('woff'), url('./srgssrtype_lt.ttf') format('truetype'), url('./srgssrtype_lt.svg#SRGSSRTypeRegular') format('svg');
  font-weight:300;
  font-style:normal;
  font-stretch:normal;
}

@font-face {
  font-family: 'SRGSSR';
  src: url('./srgssrtype_rg.eot');
  src: url('./srgssrtype_rg.eot?#iefix') format('embedded-opentype'), url('./srgssrtype_rg.woff') format('woff'), url('./srgssrtype_rg.ttf') format('truetype'), url('./srgssrtype_rg.svg#SRGSSRTypeRegular') format('svg');
  font-weight:normal;
  font-style:normal;
  font-stretch:normal;
}

@font-face {
  font-family: 'SRGSSR';
  src: url('./srgssrtype_it.eot');
  src: url('./srgssrtype_it.eot?#iefix') format('embedded-opentype'), url('./srgssrtype_it.woff') format('woff'), url('./srgssrtype_it.ttf') format('truetype'), url('./srgssrtype_it.svg#SRGSSRTypeItalic') format('svg');
  font-weight:normal;
  font-style:italic;
  font-stretch:normal;
}

@font-face {
  font-family: 'SRGSSR';
  src: url('./srgssrtype_md.eot');
  src: url('./srgssrtype_md.eot?#iefix') format('embedded-opentype'), url('./srgssrtype_md.woff') format('woff'), url('./srgssrtype_md.ttf') format('truetype'), url('./srgssrtype_md.svg#SRG_SSR_Medium') format('svg');
  font-weight:bold;
  font-style:normal;
  font-stretch:normal;
}

@font-face {
  font-family: 'SRGSSR';
  src: url('./srgssrtype_bd.eot');
  src: url('./srgssrtype_bd.eot?#iefix') format('embedded-opentype'), url('./srgssrtype_bd.woff') format('woff'), url('./srgssrtype_bd.ttf') format('truetype'), url('./srgssrtype_bd.svg#SRGSSRTypeBold') format('svg');
  font-weight:800;
  font-style:normal;
  font-stretch:normal;
}

@font-face {
  font-family: 'SRGSSR';
  src: url('./srgssrtype_he.eot');
  src: url('./srgssrtype_he.eot?#iefix') format('embedded-opentype'), url('./srgssrtype_he.woff') format('woff'), url('./srgssrtype_he.ttf') format('truetype'), url('./srgssrtype_he.svg#SRGSSRTypeHeavy') format('svg');
  font-weight:900;
  font-style:normal;
  font-stretch:normal;
}

@font-face {
  font-family: 'SRGSSR_Serif';
  src: url('./srgssrtype_serif_rg.eot');
  src: url('./srgssrtype_serif_rg.eot?#iefix') format('embedded-opentype'), url('./srgssrtype_serif_rg.woff') format('woff'), url('./srgssrtype_serif_rg.ttf') format('truetype'), url('./srgssrtype_serif_rg.svg#SRG_SSR_Medium') format('svg');
  font-weight:normal;
  font-style:normal;
  font-stretch:normal;
}